---
---
<section class="block" id="connect">
    <div class="sec-head reveal">
      <div class="sec-num">✦</div>
      <div class="sec-title">
        <span class="l-zh">联系我</span><span class="l-tw">聯繫我</span><span class="l-en">Connect</span>
        <span class="sub">Let's talk</span>
      </div>
    </div>
    <div class="connect-grid reveal">
      <a class="ct" href="mailto:smyqz4@nottingham.edu.cn"><span class="ic">@</span><span class="meta"><span class="lab">Email</span><span class="val">smyqz4@nottingham.edu.cn</span></span></a>
      <a class="ct" href="#" data-copy="15820830169"><span class="ic">微</span><span class="meta"><span class="lab">WeChat</span><span class="val">15820830169</span></span></a>
      <a class="ct" href="https://github.com/Ander-zqy" target="_blank" rel="noopener"><span class="ic">Gh</span><span class="meta"><span class="lab">GitHub</span><span class="val">Ander-zqy</span></span></a>
      <a class="ct" href="https://www.linkedin.com/in/qiuyang-zheng" target="_blank" rel="noopener"><span class="ic">in</span><span class="meta"><span class="lab">LinkedIn</span><span class="val">Qiuyang Zheng</span></span></a>
      <a class="ct" href="https://x.com/Ander614264" target="_blank" rel="noopener"><span class="ic">X</span><span class="meta"><span class="lab">X / Twitter</span><span class="val">@Ander614264</span></span></a>
      <a class="ct" href="https://www.youtube.com/@Ander-s3i" target="_blank" rel="noopener"><span class="ic">▶</span><span class="meta"><span class="lab">YouTube</span><span class="val">@Ander-s3i</span></span></a>
      <a class="ct" href="https://www.instagram.com/ander89890" target="_blank" rel="noopener"><span class="ic">ig</span><span class="meta"><span class="lab">Instagram</span><span class="val">ander89890</span></span></a>
      <a class="ct" href="https://xhslink.com/m/84LR1bMRxoA" target="_blank" rel="noopener"><span class="ic">小</span><span class="meta"><span class="lab">小红书</span><span class="val">Ander</span></span></a>
      <a class="ct" href="#" data-copy="郑秋阳"><span class="ic">B</span><span class="meta"><span class="lab">Bonjour</span><span class="val">郑秋阳</span></span></a>
      <a class="ct" href="https://mp.weixin.qq.com/s/6D7psF3SuFPnsl8RBHGG9w" target="_blank" rel="noopener"><span class="ic">公</span><span class="meta"><span class="lab">公众号</span><span class="val">UNNC AI+</span></span></a>
      <a class="ct" href="https://mp.weixin.qq.com/s/jxGzOLimh27HNnIFbhh2Zg" target="_blank" rel="noopener"><span class="ic">公</span><span class="meta"><span class="lab">公众号</span><span class="val">Emerge·甬现</span></span></a>
      <a class="ct" href="#" data-copy="科创活动聚合"><span class="ic">公</span><span class="meta"><span class="lab">公众号</span><span class="val">科创活动聚合</span></span></a>
    </div>
  </section>
